<div id="body">
  <div id="footer">
    rajesh rathod dot com 
    <div class="hint">Software Developer, interested in building awesome Applications :)</div>
    <div class="my-blog"><a href="http://rathod13.tumblr.com/">My Blog</a> | <a href="mailto:rajesh.13kits@gmail.com"> Hire me </a> </div>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F6466553"></iframe>
  </div>
</div>
<%= javascript_include_tag 'profile' %>
